/*==============Common CSS===================*/

body {
    font-family: $body-font;
    font-size: $body-font-size;
    color: $body-color;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: $heading-font;
}
p {
    &:last-child{
    	margin-bottom: 0;
    }
}
a, button, img, input, span {
    @extend %basetransition; 
}
input[type=text], input[type=email], input[type=password], input[type=tel], input[type=url], textarea {
    border-radius: 5px;
    height: 50px;
    padding: 8px 20px;
}
.form-group {
    margin-bottom: 25px;
    .form-control{
        &:focus {
            box-shadow: none;
            border-color: #2a7d2e;
        }
        &:hover {
            border-color: #2a7d2e;
        }
    }
}
input[type=submit], button[type=submit]{
    cursor: pointer;
}
input, textarea{
	@include placeholder{
		color: $body-color;
	}
}
input[type=submit], button[type=submit]{
    &:hover{
        
    }
}
textarea {
    height: 150px;
    padding: 10px 20px;
    width: 100%;
    // margin-bottom: -7px;
    border-color: #ced4da;
    transition: all .3s ease;
    &:focus {
        border-color: #2a7d2e;
    }
    &:hover {
        border-color: #2a7d2e;
    }
}

/*========.section-title=========*/ 
.section-title {
    margin-bottom: 40px;
    h2{
        font-size: 36px;
        line-height: 36px;
        font-weight: 600;
        color: #000000;
    }
}
.section-padding{
    padding: 80px 0;
}

/*======.owl-dots customization=======*/
.owl-dots {
    text-align: center;
    div {
        height: 5px;
        width: 5px;
        background-color: #BBBBBB;
        display: inline-block;
        margin: 0 5px;
        border-radius: 50%;
        &.active {
            background-color: #0DA0F4;
        }
    }
}
    
/*=====owl nav customization======*/
.owl-nav div {
    left: 0px;
    line-height: 80px;
    margin-top: -40px;
    width: 45px;
    height: 80px;
    font-size: 40px;
    padding-right: 5px;
    border-radius: 0 5px 5px 0;
    top: 50%;
    color: #ffffff;
    background-color: #F85620;
    @extend %displayinline;
    @extend %posabsolute;
    @extend %textcenter;
    @extend %basetransition;
    &.owl-next {
        left: auto;
        right: 0px;
        padding-left: 5px;
        padding-right: 0;
        border-radius: 5px 0 0 5px;
    }
    &:hover {
        color: #333;
        background-color: #fff;
    }
}

select {
    font-size: 19px;
    color: #0da0f4;
    background-color: #fff;
    padding: 8px 10px;
}

/*========.nice-select=============*/ 
.nice-select {
    width: 100%;
    border-radius: 50px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    border-color:  #ced4da;
    .list {
        width: 100%;
        box-shadow: none;
        border: 1px solid #ced4da;
    }
    &:focus {
        border-color: #154D32;
    }
    &:hover {
        border-color: #154D32;
    }
    &:after{
        right: 25px;
        border-color: #ced4da;
        width: 10px;
        height: 10px;
        margin-top: -6px;
    }
    &:hover:after {
        border-color: #2A7D2E;
    }
}
.ps__scrollbar-y {
    background-color: #99822c !important;
}





















